<div class="display-5">What to know about me</div>
<div class="row d-flex align-items-center">
    <div class="col-lg-5 pe-lg-4 mt-2">
        I'm a software engineer living in West Chester, OH with my amazing wife, Sarah. I enjoy
        developing apps as well as playing games and music. I grew up in Loveland, OH and graduated
        from the University of Cincinnati in 2018. While in college, I worked for the Air Force
        Research Lab, several startups, and as a Teaching Assistant.
    </div>
    <div class="col-sm-6 col-lg-3 mt-4 px-3 d-flex">
        <img
            class="img-fluid rounded mx-auto"
            [src]="getImageFilePath('motorcycle')"
            (click)="imageGallery.openGallery(0)"
        />
    </div>
    <div class="col-sm-6 col-lg-4 mt-4 px-3 d-flex">
        <img
            class="img-fluid rounded mx-auto"
            [src]="getImageFilePath('cabo')"
            (click)="imageGallery.openGallery(1)"
        />
    </div>
</div>
<div class="row d-flex align-items-center">
    <div class="col-lg-5 pe-lg-4 mt-4">
        After graduation, I worked as an Analytics Engineer for GE Digital for three years before
        leaving for a Sr. Data Engineer position at Kroger in the summer of 2021. My better half
        currently works for GE as an Advanced Lead Software Engineer, and we nerd out about
        technology on a regular basis. Besides work, we like to travel, cook new food, and spend
        time with our friends and family.
    </div>
    <div class="col-sm-6 col-lg-4 mt-4 px-3 d-flex">
        <img
            class="img-fluid rounded mx-auto"
            [src]="getImageFilePath('zugspitze')"
            (click)="imageGallery.openGallery(2)"
        />
    </div>
    <div class="col-sm-6 col-lg-3 mt-4 px-3 d-flex">
        <img
            class="img-fluid rounded mx-auto"
            [src]="getImageFilePath('fonteinen')"
            (click)="imageGallery.openGallery(3)"
        />
    </div>
</div>
<div class="row d-flex align-items-center">
    <div class="col-lg-5 pe-lg-4 mt-4">
        Sarah and I met during our sophomore year of college while on co-op in 2016 and have been
        best friends ever since. She attended the University of Kentucky and moved to Cincinnati
        after graduation before starting work at GE. We were married in 2020, purchased our first
        home in 2021, and are currently enjoying our <i>simple</i> work/life balance.
    </div>
    <div class="col-sm-6 col-lg-3 mt-4 px-3 d-flex">
        <img
            class="img-fluid rounded mx-auto"
            [src]="getImageFilePath('wedding')"
            (click)="imageGallery.openGallery(4)"
        />
    </div>
    <div class="col-sm-6 col-lg-4 mt-4 px-3 d-flex">
        <img
            class="img-fluid rounded mx-auto"
            [src]="getImageFilePath('house')"
            (click)="imageGallery.openGallery(5)"
        />
    </div>
</div>
<app-image-gallery
    #imageGallery
    [imageDirectory]="imageDirectory"
    [galleryData]="galleryData"
></app-image-gallery>
