main,
nav > div,
footer {
    min-width: 20rem;
    max-width: 62rem;
}

hr {
    margin: 3.5rem 0 3rem;
}

#app-content {
    padding-top: 5rem;
    transition: opacity 0.5s;
}

#loading-content {
    z-index: 0;
}

#app-content {
    opacity: 0;
}

#app-content.is-content-ready {
    opacity: 1;
}

.hamburger-box {
    width: 2rem;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    width: 2rem;
    height: 0.1rem !important;
}

.navbar-toggler > img {
    width: 1.5rem;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler {
    border-color: transparent !important;
}

.shrug {
    padding-top: 5rem;
    font-size: calc(7rem + 4.5vw);
}

.spinner-border {
    width: 4rem;
    height: 4rem;
}

@media (min-width: 768px) {
    hr {
        margin: 4rem 0 3rem;
    }

    #app-content {
        padding-top: 6rem;
    }
}
